<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app"  @click="which" v-showM>
    <p v-for="(pro,prpKey,index) in obj" v-if="index%3==0" :key="lala()">
        {{pro}}
        {{prpKey}}
        {{index}}
        <template></template>
    </p>
</div>
<script src="./vue.js">

</script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            obj:{
                name:'zhang',
                age:11,
                sex:'nan'
            }
        },
        props:['str'],
        directives:{
            "v-showM":{
                bind(){
                    console.log(666)
                },
                update(){
                    console.log(9999)
                }
            }
        },
        methods:{
            which(){
                console.log(99999999)
            },
            lala(){
                console.log('hahah')
            }
        }
    })
</script>
</body>
</html>